*{
    margin: 0px;
    padding: 0px;
}

.header1{
    display: flex;
}

.header1 img{
    width: 100px;
    height: 100px;
}

.banner{
    width: 100%;
}

.banner h1{
    text-align: center;
    padding: 13px;
    background-color: rgb(33, 33, 105);
    color: white;
}

.banner h2{
    padding-bottom: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

main{
    display: flex;
}


.leftDiv{
    font-size: 20px;
    background-color: rgb(33, 33, 105);
    padding: 20px;
}

.leftDiv button{
    background-color: rgb(33, 33, 105);
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: larger;
    margin-bottom: 13px;
    margin-top: 13px;
}


.leftDiv button a{
    color: white;
    text-decoration: none;
}

.leftDiv img{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 50%;
    margin: 7.5px;
}

hr{
    width: 100%;
}

.rightDiv1 h3{
    margin: 20px;
    margin-left: 30px;
    font-size: 20px;
    width: 100%;
    border-left:  2px solid rgb(33, 33, 105);
    border-right:  2px solid rgb(33, 33, 105);
    border-top:  2px solid rgb(33, 33, 105);
    padding: 10px;
    font-size: 30px;
    color: red;
}

.rightDiv1 p{
    margin-left: 30px;
    border-left:  2px solid rgb(33, 33, 105);
    border-right:  2px solid rgb(33, 33, 105);
    border-bottom:  2px solid rgb(33, 33, 105);
    margin-top: -20px;
    width: 100%;
    padding: 10px;
    color: rgb(33, 33, 105);
    font-size: 20px;
}

.rightDiv1 h1{
    color: rgb(33, 33, 105);
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
}

.rightD1{
    visibility: hidden;
    display: none;
}

.rightD2{
    visibility: hidden;
    display: none;
}

.rightD3{
    visibility: hidden;
    display: none;
}

.rightD4{
    visibility: hidden;
    display: none;
}

.rightDiv2{
    display: block;
}

.rightDiv2 h1{
    color: rgb(33, 33, 105);
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
}

.rightDiv2 h3{
    font-size: 30px;
    border-top:  2px solid red;
    border-right: 2px solid red;;
    border-left: 2px solid red;
    margin-left: 30px;
    margin-top: 40px;
    width: 150%;
    padding: 10px;
    color: red;
}

.rightDiv2 p{
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    margin-left: 30px;
    margin-bottom: 40px;
    width: 150%;
    padding: 10px;
    color: rgb(33, 33, 105);
    font-size: 20px;
}

.rightDiv3{
    display: block;
    flex-wrap: wrap;
}

.rightDiv3 h1{
    margin-top: 20px;
    color: red;
    text-align: center;
}

.rightDiv3 h3{
    margin: 30px;
    font-size: 30px;
}

.rightDiv3 img{
    width: 150px;
    height: 150px;
    margin-left: 200px;
}

.rightDiv3 pre{
    font-size: 20px;
}

.rightDiv4 h1{
    color: red;
    margin-left: 400px;
    margin-top: 20px;
}

.rightDiv4 img{
    width: 250px;
    height: 170px;
    margin-left: 50px;
}

.partners{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.rightDiv4 button{
    margin-left: 200px;
    margin-bottom: 30px;
    background-color: rgb(33, 33, 105);
    color: white;
    cursor: pointer;
    padding: 10px;
}

.rightDiv4 h4{
    margin-left: 200px;
}

